body{
    font-family: "Open Sans", sans-serif;
    background-image: url(./g.gif)
}

#container{
    width: 1000px;
    height: 550px;
    background-color: transparent;
    margin: 20px auto;
}

#calculator{
    width: 320px;
    height: 520px;
    background-color:antiquewhite;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 3, 0, 0), 0 3px 10px 0 rgba(0, 4, 0,0 );
}

#result{
    height: 120px;
}

#keyboard{
    height: 400px;
}

#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 15px;
    font-size: 15px;
    color: #ccc9c9;
}

#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
    
    
}

.number, .empty{
    background-color: antiquewhite;
}

.number,.operator,.empty{
    cursor: pointer;
}

.operator:active,.number:active{
    font-size: 13px;
}

.operator:focus, .number:focus,.empty:focus{
    outline: 0;
}

button:nth-child(4){
    font-size: 25px;
    background-color: antiquewhite;
}

button:nth-child(8){
    font-size: 25px;
    background-color:  antiquewhite;
}

button:nth-child(12){
    font-size: 25px;
    background-color:  antiquewhite;
}

button:nth-child(16){
    font-size: 25px;
    background-color:  antiquewhite;
}

button:nth-child(20){
    font-size: 25px;
    background-color:  rgb(255, 153, 0);
    color: white;
}

.number:hover{
    background-color: rgba(206, 185, 185, 0.418)
}

.operator:hover{
    background-color: rgba(206, 185, 185, 0.418);
}

.operator{
    color: orange;
    background-color:  antiquewhite;
}



